.App {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vmin;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0px 0px 0px 1px black;
}
.playerField {
  width: 50vmin;
  height: 50vmin;
  margin-left: 10vmin;
  margin-bottom: 10vmin;
}
.pcField {
  margin-left: 10vmin;

  width: 80vmin;
  height: 80vmin;
}
